div.smallRow {
  display: inline;
  float: left;
}

/* Sub-section div styling */
div.shoppingList {
  border: 1px solid black;
  border-radius: 5px;
  background-color: #b19cd9;
  width: 100%;
  float: left;
  clear: both;
  margin-top: 5%;
  margin-bottom: 5%;
  padding: 0;
}

div.moveMe {
  margin-top: 5px;
  position: relative;
  left: -8%;
}

div.prices ul {
  list-style: none;
  padding: 0;
}

/* Appended Items Styling */
li {
  border: 1px solid white;
  border-radius: 1px;
  background-color: rgba(255,255,255, 0.9);
  margin-bottom: 10px;
  width: 100%;
  font-weight: bold;
  text-align: center;
}

li:hover {
  border: white;
}
ol ul {
  background-color: #b19cd9;
  font-size: 150%;
}

form {
  margin-top: 5%;
  background-color: #b19cd9;
  padding: 5%;
  border-style: ridge;
  -webkit-box-shadow: -8px 4px 5px 0px rgba(0,0,0,0.49);
  -moz-box-shadow: -8px 4px 5px 0px rgba(0,0,0,0.49);
  box-shadow: -8px 4px 5px 0px rgba(0,0,0,0.49);
}

h3.changeH3 {
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid black;
}


i.fa-plus {
  margin-top: 25%;
}

button#addButton {
  margin-top: 90%;
}
